.root {
  display: flex;
  justify-content: space-between;
  border: 2px solid #b7b1b1;
  border-radius: 15px;
  overflow: hidden;
  padding-bottom: 0px;
  margin-bottom: 35px;
}
.input {
  width: 50%;
  background-color: transparent;
  padding: 10px;
  font-size: 18px;
  border: 0px solid black;
  color: white;
  flex-grow: 1;
}
.button {
  background-color: rgb(219, 55, 58);
  color: white;
  font-weight: 500;
  padding: 15px;
  border: 0px solid black;
}
